layout {
    tab_template name="xplr-on-the-side" {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane split_direction="vertical" {
            pane command="xplr" size="25%"
            children
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    xplr-on-the-side split_direction="vertical" {
        pane
        pane
    }
    xplr-on-the-side split_direction="horizontal" {
        pane
        pane
    }
}
